.navbar {
    background-color: #14181C;
}

.row-content {
    margin: 50px auto;
    padding: 50px 0px;
    min-height: 400px; 
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px; 
}

.search-view {
    padding: 50px 0px 0px 0px;
}

.card-movie {
    width: 225px;
    margin: 100px 50px 50px 50px;
}

.card-people {
    max-width: 230px;
    background-color: #14181C;
}

.list-group-item {
    background-color: #445566;
    padding: 10px;
}

.movie-details {
    position: relative;
}

.movie-backdrop {
    opacity: 0.4;
    position: absolute;
    max-width: 1263px;
    max-height: 500px;
    width: 100%;
}

.movie-text-overlay-backdrop {
    position: absolute;
    margin: 420px 30px 30px 30px;
    padding: 30px;
}

.movie-text-overlay-no-backdrop {
    position: absolute;
    margin: 50px 30px 30px 30px;
    padding: 30px;
}

.empty-img-container {
    position: relative;
}

.empty-text-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
}

.badge {
    font-size: 13px;
    background-color: #242C34;
}

#displayCastMore, #displayBioMore {
    display: none;
}

.altlang {
    font-size: small;
}

.bio {
    font-size: 14px;
}



body {
    /* padding: 50px 0px 0px 0px; */
    z-index: 0; 
    background-color: #1D2329;
}