/* .jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
} */

.navbar {
    background-color: #14181C;
}

.row-content {
    margin: 50px auto;
    padding: 50px 0px;
    /* border-bottom: 1px ridge; */
    min-height: 400px; 
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px; 
}

.search-view {
    padding: 50px 0px 0px 0px;
}

body {
    /* padding: 50px 0px 0px 0px; */
    z-index: 0; 
    background-color: #1D2329;
}